 

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: white;
        padding: 10px;
    }

    .container>div {
        background-color:  white;
        border: 1px solid black;
        padding: 10px;
        font-size: 15px;
        text-align: left;
    }
.container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: white;
        padding: 10px;
    }

    .container2>div {
        background-color:  white;
        border: 1px solid black;
        padding: 10px;
        font-size: 15px;
        text-align: left;
    }

.Sshorts {
float: center;

}

.Nshorts {
float: left;
}

.Sshirts {
float: center;

}

.Nshirts {
float: left;
}

.Spants {
float: center;

}

.Npants {
float: left;
}

.Nhoodie {
float: left;
}

.Ncrew {
float: left;
}

.Ntech {
float: left;
}